In [9]:
import boto3 as boto3

ModuleNotFoundError: No module named 'boto3'

In [10]:
ACCESS_KEY = ***
SECRET_KEY = ***
AWS_SESSION_TOKEN = ***

SyntaxError: invalid syntax (<ipython-input-10-e77e9c0887f1>, line 1)

In [40]:
import pandas as pd
import boto3

bucket = "dados-mercadolivre"
file_name = "dados140101.csv"

s3 = boto3.client('s3', aws_access_key_id=ACCESS_KEY,
                      aws_secret_access_key=SECRET_KEY,
                      aws_session_token=AWS_SESSION_TOKEN)

# 's3' is a key word. create connection to S3 using default config and all buckets within S3

obj = s3.get_object(Bucket= bucket, Key= file_name) 
# get object and file (key) from bucket

initial_df = pd.read_csv(obj['Body']) # 'Body' is a key word

ModuleNotFoundError: No module named 'boto3'

In [1]:
#reading csv data
import numpy as np
import pandas as pd

imported_data = pd.read_csv("/Users/Ssilva3/Documents/GitHub/precificacao_mercadolivre_tcc/Jupyer-Notebooks/dados140101.csv")
imported_data

,Unnamed: 0,id,site_id,title,price,sale_price,currency_id,available_quantity,sold_quantity,buying_mode,...,differential_pricing.id,seller.eshop.nick_name,seller.eshop.eshop_rubro,seller.eshop.eshop_id,seller.eshop.eshop_locations,seller.eshop.site_id,seller.eshop.eshop_logo_url,seller.eshop.eshop_status_id,seller.eshop.seller,seller.eshop.eshop_experience
0,0,MLB1679168640,MLB,Asus Zenfone Max Shot Zb634kl Dual Sim 64 Gb P...,1099.00,NaN,BRL,464,1640,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,MLB1697558905,MLB,Samsung Galaxy A01 Core Dual Sim 32 Gb Preto 2...,639.00,NaN,BRL,201,617,buy_it_now,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,MLB1619681455,MLB,Samsung Galaxy A31 Dual Sim 128 Gb Prism Crush...,1549.00,NaN,BRL,4017,4894,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,MLB1695616376,MLB,LG K41s Dual Sim 32 Gb Tit√¢nio 3 Gb Ram,859.00,NaN,BRL,232,544,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,MLB1689750187,MLB,Samsung Galaxy A01 Core Dual Sim 32 Gb Azul 2 ...,679.00,NaN,BRL,126,1258,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,MLB1731387862,MLB,Xiaomi Redmi Note 9s Dual Sim 64 Gb Azul 4 Gb Ram,1569.99,NaN,BRL,10,161,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4996,MLB1766540650,MLB,Xiaomi Poco X3 Nfc Dual Sim 128 Gb Shadow Gray...,2028.00,NaN,BRL,1,4,buy_it_now,...,33580182.0,V8 CELL,NaN,362315.0,[],MLB,http://resources.mlstatic.com/eshops/94475129v...,1.0,94475129.0,0.0
4997,4997,MLB1665933425,MLB,Samsung Galaxy A51 Dual Sim 128 Gb Prism Crush...,1699.00,NaN,BRL,400,654,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,4998,MLB1689415851,MLB,Xiaomi Redmi 9 Dual Sim 64 Gb Sunset Purple 4 ...,1360.99,NaN,BRL,42,170,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,4999,MLB1694789272,MLB,Xiaomi Redmi Note 9 Dual Sim 128 Gb Branco-pol...,1689.00,NaN,BRL,1,18,buy_it_now,...,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#checking columns
pd.set_option('display.max_columns', None)
imported_data.head()

,Unnamed: 0,id,site_id,title,price,sale_price,currency_id,available_quantity,sold_quantity,buying_mode,listing_type_id,stop_time,condition,permalink,thumbnail,accepts_mercadopago,attributes,original_price,category_id,official_store_id,domain_id,catalog_product_id,tags,catalog_listing,order_backend,seller.id,seller.permalink,seller.registration_date,seller.car_dealer,seller.real_estate_agency,seller.tags,seller.seller_reputation.transactions.total,seller.seller_reputation.transactions.canceled,seller.seller_reputation.transactions.period,seller.seller_reputation.transactions.ratings.negative,seller.seller_reputation.transactions.ratings.positive,seller.seller_reputation.transactions.ratings.neutral,seller.seller_reputation.transactions.completed,seller.seller_reputation.power_seller_status,seller.seller_reputation.metrics.claims.rate,seller.seller_reputation.metrics.claims.value,seller.seller_reputation.metrics.claims.period,seller.seller_reputation.metrics.delayed_handling_time.rate,seller.seller_reputation.metrics.delayed_handling_time.value,seller.seller_reputation.metrics.delayed_handling_time.period,seller.seller_reputation.metrics.sales.period,seller.seller_reputation.metrics.sales.completed,seller.seller_reputation.metrics.cancellations.rate,seller.seller_reputation.metrics.cancellations.value,seller.seller_reputation.metrics.cancellations.period,seller.seller_reputation.level_id,prices.id,prices.prices,prices.presentation.display_currency,prices.payment_method_prices,installments.quantity,installments.amount,installments.rate,installments.currency_id,address.state_id,address.state_name,address.city_id,address.city_name,shipping.free_shipping,shipping.mode,shipping.tags,shipping.logistic_type,shipping.store_pick_up,seller_address.id,seller_address.comment,seller_address.address_line,seller_address.zip_code,seller_address.country.id,seller_address.country.name,seller_address.state.id,seller_address.state.name,seller_address.city.id,seller_address.city.name,seller_address.latitude,seller_address.longitude,differential_pricing.id,seller.eshop.nick_name,seller.eshop.eshop_rubro,seller.eshop.eshop_id,seller.eshop.eshop_locations,seller.eshop.site_id,seller.eshop.eshop_logo_url,seller.eshop.eshop_status_id,seller.eshop.seller,seller.eshop.eshop_experience
0,0,MLB1679168640,MLB,Asus Zenfone Max Shot Zb634kl Dual Sim 64 Gb P...,1099.0,NaN,BRL,464,1640,buy_it_now,gold_pro,2040-10-04T04:00:00.000Z,new,https://www.mercadolivre.com.br/asus-zenfone-m...,http://mlb-s1-p.mlstatic.com/600024-MLA3293116...,True,"[{'source': 1, 'id': 'BRAND', 'name': 'Marca',...",1648.5,MLB1055,2586.0,MLB-CELLPHONES,MLB14690365,"['brand_verified', 'good_quality_picture', 'go...",True,1,484436004,http://perfil.mercadolivre.com.br/ARTHURLUNDGR...,2019-10-29T16:31:21.000-04:00,False,False,"['brand', 'large_seller', 'messages_as_seller']",157522,13547,historic,0.07,0.86,0.07,143975,platinum,0.0114,426,60 days,0.0000,0,60 days,60 days,35059,0.0181,674,60 days,5_green,MLB1679168640,[{'id': '7927d3da-5eb3-4e41-a462-f2bbd4f55d1a'...,BRL,[],12,91.58,0.00,BRL,BR-SP,S√£o Paulo,BR-SP-44,S√£o Paulo,False,me1,[],default,False,NaN,NaN,NaN,NaN,BR,Brasil,BR-SP,S√£o Paulo,BR-SP-44,S√£o Paulo,NaN,NaN,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,MLB1697558905,MLB,Samsung Galaxy A01 Core Dual Sim 32 Gb Preto 2...,639.0,NaN,BRL,201,617,buy_it_now,gold_special,2040-10-23T04:00:00.000Z,new,https://www.mercadolivre.com.br/samsung-galaxy...,http://mlb-s2-p.mlstatic.com/715387-MLA4377542...,True,"[{'value_name': 'Samsung', 'attribute_group_id...",719.0,MLB1055,2254.0,MLB-CELLPHONES,MLB16107489,"['brand_verified', 'good_quality_picture', 'go...",True,2,486750693,http://perfil.mercadolivre.com.br/SIBERIANOOFI...,2019-11-06T10:16:51.000-04:00,False,False,"['brand', 'large_seller', 'messages_as_seller']",73553,4692,historic,0.04,0.92,0.04,68861,platinum,0.0215,399,60 days,0.0996,638,60 days,60 days,17491,0.0060,111,60 days,5_green,MLB1697558905,[{'id': 'b48bc1f4-414d-43c7-84f9-59419ae8e59d'...,BRL,[],12,60.70,13.99,BRL,BR-PR,Paran√°,TUxCQ01BUmVmMmFi,Maring√°,False,me1,[],default,False,NaN,NaN,NaN,NaN,BR,Brasil,BR-PR,Paran√°,TUxCQ01BUmVmMmFi,Maring√°,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,MLB1619681455,MLB,Samsung Galaxy A31 Dual Sim 128 Gb Prism Crush...,1549.0,NaN,BRL,4017,4894,buy_it_now,gold_pro,2040-08-01T04:00:00.000Z,new,https://www.mercadolivre.com.br/samsung-galaxy...,http://mlb-s2-p.mlstatic.com/694664-MLA4451768...,True,"[{'value_id': '206', 'attribute_group_id': 'OT...",NaN,MLB1055,51.0,MLB-CELLPHONES,MLB15809302,"['extended_warranty_eligible', 'good_quality_p...",True,3,20703080,http://perfil.mercadolivre.com.br/WEBFONESOFICIAL,2012-09-10T09:44:49.000-04:00,False,False,"['brand', 'large_seller', 'credits_profile', '...",312766,20608,historic,0.03,0.95,0.02,292158,platinum,0.0022,196,60 days,0.0000,0,60 days,60 days,80832,0.0000,1,60 days,5_green,MLB1619681455,[{'id': '540785c9-b858-40fa-b49e-59afb5867ee2'...,BRL,[],12,129.08,0.00,BRL,BR-SP,S√£o Paulo,BR-SP-44,S√£o Paulo,True,me2,"['fulfillment', 'mandatory_free_shipping']",fulfillment,False,NaN,NaN,NaN,NaN,BR,Brasil,BR-SP,S√£o Paulo,BR-SP-44,S√£o Paulo,NaN,NaN,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,MLB1695616376,MLB,LG K41s Dual Sim 32 Gb Tit√¢nio 3 Gb Ram,859.0,NaN,BRL,232,544,buy_it_now,gold_pro,2040-10-22T04:00:00.000Z,new,https://www.mercadolivre.com.br/lg-k41s-dual-s...,http://mlb-s1-p.mlstatic.com/663248-MLA4300031...,True,"[{'attribute_group_name': 'Outros', 'source': ...",1288.5,MLB1055,2156.0,MLB-CELLPHONES,MLB15808246,"['loyalty_discount_eligible', 'brand_verified'...",True,4,547054573,http://perfil.mercadolivre.com.br/ONOFREELETRO...,2020-04-14T17:30:09.000-04:00,False,False,"['brand', 'large_seller', 'messages_as_seller'...",22337,2136,historic,0.05,0.89,0.06,20201,platinum,0.0187,157,60 days,0.0000,0,60 days,60 days,7624,0.0014,12,60 days,5_green,MLB1695616376,[{'id': '2779a3b3-9fc9-48a3-a5cd-1ce68dff9d80'...,BRL,[],12,71.58,0.00,BRL,BR-ES,Esp√≠rito Santo,TUxCQ1NFUmI1ZGQx,Serra,False,me1,[],default,False,NaN,NaN,NaN,NaN,BR,Brasil,BR-ES,Esp√≠rito Santo,TUxCQ1NFUmI1ZGQx,Serra,NaN,NaN,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,MLB1689750187,MLB,Samsung Galaxy A01 Core Dual Sim 32 Gb Azul 2 ...,679.0,NaN,BRL,126,1258,buy_it_now,gold_pro,2040-10-16T04:00:00.000Z,new,https://www.mercadolivre.com.br/samsung-galaxy...,http://mlb-s2-p.mlstatic.com/743325-MLA4377542...,True,"[{'id': 'BRAND', 'value_struct': None, 'values...",1018.5,MLB1055,2586.0,MLB-CELLPHONES,MLB16107490,"['extended_warranty_eligible', 'good_quality_p...",True,5,484436004,http://perfil.mercadolivre.com.br/ARTHURLUNDGR...,2019-10-29T16:31:21.000-04:00,False,False,"['brand', 'large_seller', 'messages_as_seller']",157522,13547,historic,0.07,0.86,0.07,143975,platinum,0.0114,426,60 days,0.0000,0,60 days,60 days,35059,0.0181,674,60 days,5_green,MLB1689750187,[{'id': '59067628-19be-48ac-a0c5-2521973264cf'...,BRL,[],12,56.58,0.00,BRL,BR-SP,S√£o Paulo,BR-SP-44,S√£o Paulo,False,me1,[],default,False,NaN,NaN,NaN,NaN,BR,Brasil,BR-SP,S√£o Paulo,BR-SP-44,S√£o Paulo,NaN,NaN,33580182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#checking on attributes 
imported_data['attributes'].apply(pd.Series)

                                                      0
0     [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
1     [{'value_name': 'Samsung', 'attribute_group_id...
2     [{'value_id': '206', 'attribute_group_id': 'OT...
3     [{'attribute_group_name': 'Outros', 'source': ...
4     [{'id': 'BRAND', 'value_struct': None, 'values...
5     [{'value_name': 'Samsung', 'attribute_group_id...
6     [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
7     [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
8     [{'value_name': 'Samsung', 'values': [{'id': '...
9     [{'values': [{'id': '206', 'name': 'Samsung', ...
10    [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
11    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
12    [{'id': 'BRAND', 'value_struct': None, 'values...
13    [{'values': [{'id': '206', 'name': 'Samsung', ...
14    [{'id': 'BRAND', 'value_id': '206', 'value_nam...
15    [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
16    [{'id': 'BRAND', 'value_struct': None, 'values...
17    [{'name': 'Marca', 'value_struct': None, 'valu...
18    [{'name': 'Marca', 'value_id': '215', 'value_n...
19    [{'value_id': '59387', 'value_struct': None, '...
20    [{'name': 'Marca', 'value_name': 'Samsung', 's...
21    [{'attribute_group_name': 'Outros', 'source': ...
22    [{'value_name': 'Multilaser', 'source': 1, 'va...
23    [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
24    [{'value_name': 'Samsung', 'attribute_group_na...
25    [{'source': 1, 'name': 'Marca', 'value_name': ...
26    [{'name': 'Marca', 'value_struct': None, 'valu...
27    [{'id': 'BRAND', 'value_struct': None, 'attrib...
28    [{'source': 1, 'name': 'Marca', 'value_name': ...
29    [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
30    [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
31    [{'source': 1, 'id': 'BRAND', 'value_struct': ...
32    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
33    [{'value_struct': None, 'values': [{'id': '485...
34    [{'value_struct': None, 'attribute_group_name'...
35    [{'value_id': '31163', 'value_struct': None, '...
36    [{'value_name': 'Xiaomi', 'value_struct': None...
37    [{'attribute_group_name': 'Outros', 'source': ...
38    [{'value_id': '59387', 'value_name': 'Xiaomi',...
39    [{'attribute_group_id': 'OTHERS', 'source': 1,...
40    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
41    [{'values': [{'struct': None, 'source': 1, 'id...
42    [{'value_id': '206', 'value_name': 'Samsung', ...
43    [{'attribute_group_name': 'Outros', 'source': ...
44    [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
45    [{'value_struct': None, 'values': [{'struct': ...
46    [{'name': 'Marca', 'values': [{'source': 1, 'i...
47    [{'value_struct': None, 'source': 1, 'name': '...
48    [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
49    [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
50    [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
51    [{'value_name': 'Samsung', 'attribute_group_id...
52    [{'value_id': '206', 'attribute_group_id': 'OT...
53    [{'attribute_group_name': 'Outros', 'source': ...
54    [{'id': 'BRAND', 'value_struct': None, 'values...
55    [{'value_name': 'Samsung', 'attribute_group_id...
56    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
57    [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
58    [{'value_name': 'Samsung', 'values': [{'id': '...
59    [{'values': [{'id': '206', 'name': 'Samsung', ...
60    [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
61    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
62    [{'id': 'BRAND', 'value_struct': None, 'values...
63    [{'values': [{'id': '206', 'name': 'Samsung', ...
64    [{'id': 'BRAND', 'value_id': '206', 'value_nam...
65    [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
66    [{'id': 'BRAND', 'value_struct': None, 'values...
67    [{'name': 'Marca', 'value_struct': None, 'valu...
68    [{'name': 'Marca', 'value_id': '215', 'value_n...
69    [{'value_id': '59387', 'value_struct': None, '...
70    [{'name': 'Marca', 'value_name': 'Samsung', 's...
71    [{'attribute_group_name': 'Outros', 'source': ...
72    [{'value_name': 'Multilaser', 'source': 1, 'va...
73    [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
74    [{'value_name': 'Samsung', 'attribute_group_na...
75    [{'source': 1, 'name': 'Marca', 'value_name': ...
76    [{'name': 'Marca', 'value_struct': None, 'valu...
77    [{'id': 'BRAND', 'value_struct': None, 'attrib...
78    [{'source': 1, 'name': 'Marca', 'value_name': ...
79    [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
80    [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
81    [{'source': 1, 'id': 'BRAND', 'value_struct': ...
82    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
83    [{'value_struct': None, 'values': [{'id': '485...
84    [{'value_struct': None, 'attribute_group_name'...
85    [{'value_id': '31163', 'value_struct': None, '...
86    [{'value_name': 'Xiaomi', 'value_struct': None...
87    [{'attribute_group_name': 'Outros', 'source': ...
88    [{'value_id': '59387', 'value_name': 'Xiaomi',...
89    [{'attribute_group_id': 'OTHERS', 'source': 1,...
90    [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
91    [{'values': [{'struct': None, 'source': 1, 'id...
92    [{'value_id': '206', 'value_name': 'Samsung', ...
93    [{'attribute_group_name': 'Outros', 'source': ...
94    [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
95    [{'value_struct': None, 'values': [{'struct': ...
96    [{'name': 'Marca', 'values': [{'source': 1, 'i...
97    [{'value_struct': None, 'source': 1, 'name': '...
98    [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
99    [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
100   [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
101   [{'value_name': 'Samsung', 'attribute_group_id...
102   [{'value_id': '206', 'attribute_group_id': 'OT...
103   [{'attribute_group_name': 'Outros', 'source': ...
104   [{'id': 'BRAND', 'value_struct': None, 'values...
105   [{'value_name': 'Samsung', 'attribute_group_id...
106   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
107   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
108   [{'value_name': 'Samsung', 'values': [{'id': '...
109   [{'values': [{'id': '206', 'name': 'Samsung', ...
110   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
111   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
112   [{'id': 'BRAND', 'value_struct': None, 'values...
113   [{'values': [{'id': '206', 'name': 'Samsung', ...
114   [{'id': 'BRAND', 'value_id': '206', 'value_nam...
115   [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
116   [{'id': 'BRAND', 'value_struct': None, 'values...
117   [{'name': 'Marca', 'value_struct': None, 'valu...
118   [{'name': 'Marca', 'value_id': '215', 'value_n...
119   [{'value_id': '59387', 'value_struct': None, '...
120   [{'name': 'Marca', 'value_name': 'Samsung', 's...
121   [{'attribute_group_name': 'Outros', 'source': ...
122   [{'value_name': 'Multilaser', 'source': 1, 'va...
123   [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
124   [{'value_name': 'Samsung', 'attribute_group_na...
125   [{'source': 1, 'name': 'Marca', 'value_name': ...
126   [{'name': 'Marca', 'value_struct': None, 'valu...
127   [{'id': 'BRAND', 'value_struct': None, 'attrib...
128   [{'source': 1, 'name': 'Marca', 'value_name': ...
129   [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
130   [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
131   [{'source': 1, 'id': 'BRAND', 'value_struct': ...
132   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
133   [{'value_struct': None, 'values': [{'id': '485...
134   [{'value_struct': None, 'attribute_group_name'...
135   [{'value_id': '31163', 'value_struct': None, '...
136   [{'value_name': 'Xiaomi', 'value_struct': None...
137   [{'attribute_group_name': 'Outros', 'source': ...
138   [{'value_id': '59387', 'value_name': 'Xiaomi',...
139   [{'attribute_group_id': 'OTHERS', 'source': 1,...
140   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
141   [{'values': [{'struct': None, 'source': 1, 'id...
142   [{'value_id': '206', 'value_name': 'Samsung', ...
143   [{'attribute_group_name': 'Outros', 'source': ...
144   [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
145   [{'value_struct': None, 'values': [{'struct': ...
146   [{'name': 'Marca', 'values': [{'source': 1, 'i...
147   [{'value_struct': None, 'source': 1, 'name': '...
148   [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
149   [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
150   [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
151   [{'value_name': 'Samsung', 'attribute_group_id...
152   [{'value_id': '206', 'attribute_group_id': 'OT...
153   [{'attribute_group_name': 'Outros', 'source': ...
154   [{'id': 'BRAND', 'value_struct': None, 'values...
155   [{'value_name': 'Samsung', 'attribute_group_id...
156   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
157   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
158   [{'value_name': 'Samsung', 'values': [{'id': '...
159   [{'values': [{'id': '206', 'name': 'Samsung', ...
160   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
161   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
162   [{'id': 'BRAND', 'value_struct': None, 'values...
163   [{'values': [{'id': '206', 'name': 'Samsung', ...
164   [{'id': 'BRAND', 'value_id': '206', 'value_nam...
165   [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
166   [{'id': 'BRAND', 'value_struct': None, 'values...
167   [{'name': 'Marca', 'value_struct': None, 'valu...
168   [{'name': 'Marca', 'value_id': '215', 'value_n...
169   [{'value_id': '59387', 'value_struct': None, '...
170   [{'name': 'Marca', 'value_name': 'Samsung', 's...
171   [{'attribute_group_name': 'Outros', 'source': ...
172   [{'value_name': 'Multilaser', 'source': 1, 'va...
173   [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
174   [{'value_name': 'Samsung', 'attribute_group_na...
175   [{'source': 1, 'name': 'Marca', 'value_name': ...
176   [{'name': 'Marca', 'value_struct': None, 'valu...
177   [{'id': 'BRAND', 'value_struct': None, 'attrib...
178   [{'source': 1, 'name': 'Marca', 'value_name': ...
179   [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
180   [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
181   [{'source': 1, 'id': 'BRAND', 'value_struct': ...
182   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
183   [{'value_struct': None, 'values': [{'id': '485...
184   [{'value_struct': None, 'attribute_group_name'...
185   [{'value_id': '31163', 'value_struct': None, '...
186   [{'value_name': 'Xiaomi', 'value_struct': None...
187   [{'attribute_group_name': 'Outros', 'source': ...
188   [{'value_id': '59387', 'value_name': 'Xiaomi',...
189   [{'attribute_group_id': 'OTHERS', 'source': 1,...
190   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
191   [{'values': [{'struct': None, 'source': 1, 'id...
192   [{'value_id': '206', 'value_name': 'Samsung', ...
193   [{'attribute_group_name': 'Outros', 'source': ...
194   [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
195   [{'value_struct': None, 'values': [{'struct': ...
196   [{'name': 'Marca', 'values': [{'source': 1, 'i...
197   [{'value_struct': None, 'source': 1, 'name': '...
198   [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
199   [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
200   [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
201   [{'value_name': 'Samsung', 'attribute_group_id...
202   [{'value_id': '206', 'attribute_group_id': 'OT...
203   [{'attribute_group_name': 'Outros', 'source': ...
204   [{'id': 'BRAND', 'value_struct': None, 'values...
205   [{'value_name': 'Samsung', 'attribute_group_id...
206   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
207   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
208   [{'value_name': 'Samsung', 'values': [{'id': '...
209   [{'values': [{'id': '206', 'name': 'Samsung', ...
210   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
211   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
212   [{'id': 'BRAND', 'value_struct': None, 'values...
213   [{'values': [{'id': '206', 'name': 'Samsung', ...
214   [{'id': 'BRAND', 'value_id': '206', 'value_nam...
215   [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
216   [{'id': 'BRAND', 'value_struct': None, 'values...
217   [{'name': 'Marca', 'value_struct': None, 'valu...
218   [{'name': 'Marca', 'value_id': '215', 'value_n...
219   [{'value_id': '59387', 'value_struct': None, '...
220   [{'name': 'Marca', 'value_name': 'Samsung', 's...
221   [{'attribute_group_name': 'Outros', 'source': ...
222   [{'value_name': 'Multilaser', 'source': 1, 'va...
223   [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
224   [{'value_name': 'Samsung', 'attribute_group_na...
225   [{'source': 1, 'name': 'Marca', 'value_name': ...
226   [{'name': 'Marca', 'value_struct': None, 'valu...
227   [{'id': 'BRAND', 'value_struct': None, 'attrib...
228   [{'source': 1, 'name': 'Marca', 'value_name': ...
229   [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
230   [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
231   [{'source': 1, 'id': 'BRAND', 'value_struct': ...
232   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
233   [{'value_struct': None, 'values': [{'id': '485...
234   [{'value_struct': None, 'attribute_group_name'...
235   [{'value_id': '31163', 'value_struct': None, '...
236   [{'value_name': 'Xiaomi', 'value_struct': None...
237   [{'attribute_group_name': 'Outros', 'source': ...
238   [{'value_id': '59387', 'value_name': 'Xiaomi',...
239   [{'attribute_group_id': 'OTHERS', 'source': 1,...
240   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
241   [{'values': [{'struct': None, 'source': 1, 'id...
242   [{'value_id': '206', 'value_name': 'Samsung', ...
243   [{'attribute_group_name': 'Outros', 'source': ...
244   [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
245   [{'value_struct': None, 'values': [{'struct': ...
246   [{'name': 'Marca', 'values': [{'source': 1, 'i...
247   [{'value_struct': None, 'source': 1, 'name': '...
248   [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
249   [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
250   [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
251   [{'value_name': 'Samsung', 'attribute_group_id...
252   [{'value_id': '206', 'attribute_group_id': 'OT...
253   [{'attribute_group_name': 'Outros', 'source': ...
254   [{'id': 'BRAND', 'value_struct': None, 'values...
255   [{'value_name': 'Samsung', 'attribute_group_id...
256   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
257   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
258   [{'value_name': 'Samsung', 'values': [{'id': '...
259   [{'values': [{'id': '206', 'name': 'Samsung', ...
260   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
261   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
262   [{'id': 'BRAND', 'value_struct': None, 'values...
263   [{'values': [{'id': '206', 'name': 'Samsung', ...
264   [{'id': 'BRAND', 'value_id': '206', 'value_nam...
265   [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
266   [{'id': 'BRAND', 'value_struct': None, 'values...
267   [{'name': 'Marca', 'value_struct': None, 'valu...
268   [{'name': 'Marca', 'value_id': '215', 'value_n...
269   [{'value_id': '59387', 'value_struct': None, '...
270   [{'name': 'Marca', 'value_name': 'Samsung', 's...
271   [{'attribute_group_name': 'Outros', 'source': ...
272   [{'value_name': 'Multilaser', 'source': 1, 'va...
273   [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
274   [{'value_name': 'Samsung', 'attribute_group_na...
275   [{'source': 1, 'name': 'Marca', 'value_name': ...
276   [{'name': 'Marca', 'value_struct': None, 'valu...
277   [{'id': 'BRAND', 'value_struct': None, 'attrib...
278   [{'source': 1, 'name': 'Marca', 'value_name': ...
279   [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
280   [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
281   [{'source': 1, 'id': 'BRAND', 'value_struct': ...
282   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
283   [{'value_struct': None, 'values': [{'id': '485...
284   [{'value_struct': None, 'attribute_group_name'...
285   [{'value_id': '31163', 'value_struct': None, '...
286   [{'value_name': 'Xiaomi', 'value_struct': None...
287   [{'attribute_group_name': 'Outros', 'source': ...
288   [{'value_id': '59387', 'value_name': 'Xiaomi',...
289   [{'attribute_group_id': 'OTHERS', 'source': 1,...
290   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
291   [{'values': [{'struct': None, 'source': 1, 'id...
292   [{'value_id': '206', 'value_name': 'Samsung', ...
293   [{'attribute_group_name': 'Outros', 'source': ...
294   [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
295   [{'value_struct': None, 'values': [{'struct': ...
296   [{'name': 'Marca', 'values': [{'source': 1, 'i...
297   [{'value_struct': None, 'source': 1, 'name': '...
298   [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
299   [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
300   [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
301   [{'value_name': 'Samsung', 'attribute_group_id...
302   [{'value_id': '206', 'attribute_group_id': 'OT...
303   [{'attribute_group_name': 'Outros', 'source': ...
304   [{'id': 'BRAND', 'value_struct': None, 'values...
305   [{'value_name': 'Samsung', 'attribute_group_id...
306   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
307   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
308   [{'value_name': 'Samsung', 'values': [{'id': '...
309   [{'values': [{'id': '206', 'name': 'Samsung', ...
310   [{'attribute_group_id': 'OTHERS', 'id': 'BRAND...
311   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
312   [{'id': 'BRAND', 'value_struct': None, 'values...
313   [{'values': [{'id': '206', 'name': 'Samsung', ...
314   [{'id': 'BRAND', 'value_id': '206', 'value_nam...
315   [{'id': 'BRAND', 'name': 'Marca', 'value_name'...
316   [{'id': 'BRAND', 'value_struct': None, 'values...
317   [{'name': 'Marca', 'value_struct': None, 'valu...
318   [{'name': 'Marca', 'value_id': '215', 'value_n...
319   [{'value_id': '59387', 'value_struct': None, '...
320   [{'name': 'Marca', 'value_name': 'Samsung', 's...
321   [{'attribute_group_name': 'Outros', 'source': ...
322   [{'value_name': 'Multilaser', 'source': 1, 'va...
323   [{'id': 'BRAND', 'name': 'Marca', 'value_struc...
324   [{'value_name': 'Samsung', 'attribute_group_na...
325   [{'source': 1, 'name': 'Marca', 'value_name': ...
326   [{'name': 'Marca', 'value_struct': None, 'valu...
327   [{'id': 'BRAND', 'value_struct': None, 'attrib...
328   [{'source': 1, 'name': 'Marca', 'value_name': ...
329   [{'id': 'BRAND', 'name': 'Marca', 'source': 1,...
330   [{'id': 'BRAND', 'value_name': 'Samsung', 'att...
331   [{'source': 1, 'id': 'BRAND', 'value_struct': ...
332   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
333   [{'value_struct': None, 'values': [{'id': '485...
334   [{'value_struct': None, 'attribute_group_name'...
335   [{'value_id': '31163', 'value_struct': None, '...
336   [{'value_name': 'Xiaomi', 'value_struct': None...
337   [{'attribute_group_name': 'Outros', 'source': ...
338   [{'value_id': '59387', 'value_name': 'Xiaomi',...
339   [{'attribute_group_id': 'OTHERS', 'source': 1,...
340   [{'id': 'BRAND', 'name': 'Marca', 'value_id': ...
341   [{'values': [{'struct': None, 'source': 1, 'id...
342   [{'value_id': '206', 'value_name': 'Samsung', ...
343   [{'attribute_group_name': 'Outros', 'source': ...
344   [{'attribute_group_id': 'OTHERS', 'name': 'Mar...
345   [{'value_struct': None, 'values': [{'struct': ...
346   [{'name': 'Marca', 'values': [{'source': 1, 'i...
347   [{'value_struct': None, 'source': 1, 'name': '...
348   [{'name': 'Marca', 'value_name': 'Xiaomi', 'va...
349   [{'id': 'BRAND', 'name': 'Marca', 'values': [{...
350   [{'source': 1, 'id': 'BRAND', 'name': 'Marca',...
351   [{'value_name': 'Samsung', 'attribute_group_id...
352   [{'value_id': '206', 'attribute_group_id': 'OT...
353   [{'attribute_group_name': 'Outros', 'source': ...
354   [{'id': 'BRAND', 'value_struct': None, 'values...
355   [{'value_name': 'Samsung', 'attribute_group_id...

In [27]:
#describing data
imported_data.describe()

,Unnamed: 0,price,sale_price,available_quantity,sold_quantity,original_price,official_store_id,order_backend,seller.id,seller.seller_reputation.transactions.total,seller.seller_reputation.transactions.canceled,seller.seller_reputation.transactions.ratings.negative,seller.seller_reputation.transactions.ratings.positive,seller.seller_reputation.transactions.ratings.neutral,seller.seller_reputation.transactions.completed,seller.seller_reputation.metrics.claims.rate,seller.seller_reputation.metrics.claims.value,seller.seller_reputation.metrics.delayed_handling_time.rate,seller.seller_reputation.metrics.delayed_handling_time.value,seller.seller_reputation.metrics.sales.completed,seller.seller_reputation.metrics.cancellations.rate,seller.seller_reputation.metrics.cancellations.value,installments.quantity,installments.amount,installments.rate,seller_address.id,seller_address.comment,seller_address.address_line,seller_address.zip_code,seller_address.latitude,seller_address.longitude,differential_pricing.id,seller.eshop.eshop_rubro,seller.eshop.eshop_id,seller.eshop.eshop_status_id,seller.eshop.seller,seller.eshop.eshop_experience
count,5000.000000,5000.000000,0.0,5000.000000,5000.000000,2000.000000,3300.000000,5000.000000,5.000000e+03,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.0,5000.000000,5000.000000,0.0,0.0,0.0,0.0,0.0,0.0,4250.0,0.0,650.000000,650.000000,6.500000e+02,650.0
mean,2499.500000,1319.362100,NaN,506.942600,827.781400,1463.855000,1742.666667,25.500000,3.327467e+08,1.672145e+05,11230.327800,0.045854,0.918392,0.035754,1.559842e+05,0.011203,348.19620,0.019077,29.732400,42598.978800,0.004660,137.58000,12.0,110.791544,2.098500,NaN,NaN,NaN,NaN,NaN,NaN,33580182.0,NaN,339190.615385,1.076923,2.838740e+08,0.0
std,1443.520003,924.754355,NaN,796.490604,1285.210934,1087.146093,1101.503882,14.432313,1.999766e+08,2.437281e+05,16092.945478,0.039132,0.050775,0.025659,2.278227e+05,0.008040,579.74115,0.048136,96.015475,78062.858437,0.006799,252.93497,0.0,76.745297,4.995929,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,62250.365909,0.266675,1.712145e+08,0.0
min,0.000000,116.890000,NaN,1.000000,0.000000,169.000000,51.000000,1.000000,2.070308e+07,3.400000e+01,2.000000,0.000000,0.770000,0.000000,2.800000e+01,0.000000,0.00000,0.000000,0.000000,28.000000,0.000000,0.00000,12.0,11.100000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,33580182.0,NaN,281427.000000,1.000000,9.447513e+07,0.0
25%,1249.750000,864.497500,NaN,19.000000,154.000000,1048.500000,869.000000,13.000000,1.465459e+08,3.803750e+03,265.250000,0.030000,0.890000,0.010000,3.550250e+03,0.002200,20.75000,0.000000,0.000000,1041.000000,0.000000,1.00000,12.0,73.267500,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,33580182.0,NaN,281427.000000,1.000000,2.045085e+08,0.0
50%,2499.500000,1118.500000,NaN,189.000000,375.500000,1183.850000,2156.000000,25.500000,3.742456e+08,7.355300e+04,5167.500000,0.030000,0.940000,0.030000,6.886100e+04,0.011400,196.00000,0.000000,0.000000,17515.000000,0.000500,8.00000,12.0,93.210000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,33580182.0,NaN,324793.000000,1.000000,2.457189e+08,0.0
75%,3749.250000,1549.000000,NaN,658.000000,932.000000,1596.375000,2586.000000,38.000000,4.844360e+08,3.127660e+05,20496.000000,0.050000,0.950000,0.060000,2.921580e+05,0.018400,426.00000,0.007200,17.000000,69209.000000,0.005925,51.00000,12.0,129.080000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,33580182.0,NaN,362315.000000,1.000000,2.457189e+08,0.0
max,4999.000000,5086.940000,NaN,4017.000000,6935.000000,4969.000000,3027.000000,50.000000,6.709316e+08,1.269595e+06,88163.000000,0.230000,1.000000,0.110000,1.181432e+06,0.046300,3053.00000,0.204800,638.000000,447400.000000,0.018100,674.00000,12.0,423.910000,13.990000,NaN,NaN,NaN,NaN,NaN,NaN,33580182.0,NaN,440918.000000,2.000000,5.932207e+08,0.0

In [2]:
#count on IDs
print("id")
print(imported_data['id'].nunique()) #count distict
print(imported_data['id'].count()) #only non-null

#checking incremental IDs
imported_data['id'].sort_values()

id
60
5000

1890    MLB1429065249
1090    MLB1429065249
440     MLB1429065249
40      MLB1429065249
2240    MLB1429065249
            ...
38      MLB1766546655
1538    MLB1766546655
2138    MLB1766546655
138     MLB1766546655
1338    MLB1766546655
Name: id, Length: 5000, dtype: object

In [43]:
#count on seller.id
print("seller.id")
print(imported_data['seller.id'].nunique()) #count distict
print(imported_data['seller.id'].count()) #only non-null

#checking seller.id
pd.set_option('display.max_rows', imported_data.shape[0]+1)
imported_data['seller.id'].sort_values()

seller.id
32
5000

2207     20703080
602      20703080
3151     20703080
605      20703080
606      20703080
607      20703080
608      20703080
610      20703080
612      20703080
3153     20703080
3154     20703080
3156     20703080
1462     20703080
3160     20703080
1460     20703080
1458     20703080
1457     20703080
1456     20703080
1455     20703080
3165     20703080
1452     20703080
4219     20703080
4251     20703080
4253     20703080
4254     20703080
4256     20703080
4304     20703080
562      20703080
4303     20703080
3069     20703080
4301     20703080
1512     20703080
1510     20703080
1508     20703080
1507     20703080
1506     20703080
3169     20703080
1505     20703080
3103     20703080
1502     20703080
3104     20703080
3106     20703080
3110     20703080
4269     20703080
3115     20703080
3119     20703080
4265     20703080
4260     20703080
3101     20703080
4215     20703080
4210     20703080
4206     20703080
4160     20703080
3251     20703080
4156     20703080
4154     20703080
3253     20703080
4153     20703080
4151     20703080
3254     20703080
3256     20703080
3260     20703080
4165     20703080
3265     20703080
1362     20703080
1360     20703080
1358     20703080
1357     20703080
1356     20703080
1355     20703080
702      20703080
4119     20703080
1352     20703080
705      20703080
3269     20703080
560      20703080
1402     20703080
4169     20703080
3201     20703080
4204     20703080
4203     20703080
3203     20703080
4201     20703080
3204     20703080
3206     20703080
3210     20703080
3215     20703080
652      20703080
1405     20703080
3219     20703080
656      20703080
657      20703080
658      20703080
1412     20703080
660      20703080
1410     20703080
662      20703080
1408     20703080
1407     20703080
1406     20703080
655      20703080
706      20703080
4306     20703080
557      20703080
1655     20703080
455      20703080
456      20703080
457      20703080
458      20703080
2910     20703080
460      20703080
462      20703080
1652     20703080
2915     20703080
2919     20703080
4419     20703080
2951     20703080
2953     20703080
4415     20703080
2954     20703080
2956     20703080
2960     20703080
4410     20703080
4406     20703080
4404     20703080
1656     20703080
452      20703080
1657     20703080
1658     20703080
1705     20703080
1702     20703080
2851     20703080
2853     20703080
2854     20703080
2856     20703080
2860     20703080
2865     20703080
2869     20703080
4469     20703080
4403     20703080
2901     20703080
2903     20703080
1662     20703080
2904     20703080
4460     20703080
4456     20703080
1660     20703080
4454     20703080
2906     20703080
4453     20703080
4451     20703080
4465     20703080
4401     20703080
2965     20703080
1612     20703080
4353     20703080
4351     20703080
3019     20703080
1562     20703080
1560     20703080
1558     20703080
1557     20703080
1556     20703080
1555     20703080
1552     20703080
3015     20703080
3051     20703080
3054     20703080
3056     20703080
4319     20703080
3060     20703080
4315     20703080
552      20703080
3065     20703080
4310     20703080
555      20703080
556      20703080
3053     20703080
558      20703080
4354     20703080
4360     20703080
1610     20703080
2969     20703080
1608     20703080
1607     20703080
1606     20703080
1605     20703080
1602     20703080
1002     20703080
502      20703080
505      20703080
4356     20703080
506      20703080
508      20703080
4369     20703080
510      20703080
3001     20703080
512      20703080
3003     20703080
3004     20703080
4365     20703080
3006     20703080
3010     20703080
507      20703080
1706     20703080
707      20703080
710      20703080
902      20703080
1112     20703080
3865     20703080
905      20703080
906      20703080
907      20703080
908      20703080
3604     20703080
910      20703080
3860     20703080
912      20703080
3856     20703080
1110     20703080
3854     20703080
3853     20703080
3606     20703080
3851     20703080
1108     20703080
1107     20703080
1106     20703080
1105     20703080
3603     20703080
3869     20703080
3601     20703080
3569     20703080
860      20703080
862      20703080
3919     20703080
1162     20703080
1160     20703080
3915     20703080
1158     20703080
3910     20703080
1157     20703080
1156     20703080
3610     20703080
3906     20703080
1155     20703080
3903     20703080
3901     20703080
1152     20703080
3551     20703080
3553     20703080
3554     20703080
3556     20703080
3560     20703080
3565     20703080
3904     20703080
2206     20703080
1102     20703080
3615     20703080
1056     20703080
1055     20703080
1052     20703080
3701     20703080
3703     20703080
3704     20703080
3706     20703080
3769     20703080
3710     20703080
3715     20703080
1057     20703080
3765     20703080
1012     20703080
3760     20703080
3756     20703080
1010     20703080
3754     20703080
1008     20703080
3753     20703080
3751     20703080
1007     20703080
1006     20703080
3719     20703080
3519     20703080
1058     20703080
962      20703080
3619     20703080
3651     20703080
3653     20703080
3654     20703080
3819     20703080
3656     20703080
3660     20703080
3815     20703080
3665     20703080
3810     20703080
3669     20703080
1062     20703080
3804     20703080
952      20703080
3803     20703080
3801     20703080
955      20703080
956      20703080
957      20703080
958      20703080
1060     20703080
960      20703080
3806     20703080
708      20703080
858      20703080
856      20703080
1302     20703080
3360     20703080
4060     20703080
752      20703080
4056     20703080
4054     20703080
755      20703080
756      20703080
757      20703080
758      20703080
4053     20703080
760      20703080
4051     20703080
762      20703080
3365     20703080
3369     20703080
3401     20703080
3403     20703080
3404     20703080
3406     20703080
3410     20703080
4065     20703080
3356     20703080
3354     20703080
4069     20703080
4115     20703080
712      20703080
3301     20703080
4110     20703080
4106     20703080
3303     20703080
4104     20703080
4103     20703080
4101     20703080
3304     20703080
1262     20703080
3306     20703080
3315     20703080
3319     20703080
1312     20703080
3351     20703080
1310     20703080
3353     20703080
1308     20703080
1307     20703080
1306     20703080
1305     20703080
3310     20703080
4019     20703080
3415     20703080
1260     20703080
3969     20703080
1212     20703080
1210     20703080
1208     20703080
1207     20703080
3965     20703080
1206     20703080
1205     20703080
3960     20703080
3956     20703080
3469     20703080
1202     20703080
3953     20703080
3951     20703080
3501     20703080
3503     20703080
3504     20703080
3506     20703080
3510     20703080
852      20703080
3515     20703080
855      20703080
3954     20703080
857      20703080
3465     20703080
3456     20703080
1258     20703080
1257     20703080
1256     20703080
4015     20703080
1255     20703080
3419     20703080
4010     20703080
1252     20703080
4006     20703080
4004     20703080
3460     20703080
4003     20703080
802      20703080
805      20703080
806      20703080
807      20703080
808      20703080
810      20703080
812      20703080
3451     20703080
3453     20703080
3454     20703080
4001     20703080
412      20703080
1005     20703080
410      20703080
2462     20703080
2002     20703080
2501     20703080
2503     20703080
2504     20703080
2506     20703080
2510     20703080
4769     20703080
2515     20703080
2005     20703080
2519     20703080
4765     20703080
1960     20703080
1958     20703080
1957     20703080
4760     20703080
4756     20703080
4754     20703080
4753     20703080
1956     20703080
1962     20703080
4751     20703080
2006     20703080
2008     20703080
2456     20703080
2457     20703080
4819     20703080
2012     20703080
2458     20703080
4815     20703080
2010     20703080
2460     20703080
4810     20703080
2007     20703080
152      20703080
4804     20703080
155      20703080
156      20703080
157      20703080
158      20703080
4803     20703080
160      20703080
4801     20703080
162      20703080
4806     20703080
1955     20703080
202      20703080
206      20703080
1902     20703080
2601     20703080
2603     20703080
252      20703080
2604     20703080
2606     20703080
255      20703080
256      20703080
257      20703080
4701     20703080
258      20703080
260      20703080
262      20703080
2615     20703080
2619     20703080
4669     20703080
4665     20703080
1862     20703080
2651     20703080
4660     20703080
2610     20703080
4703     20703080
4704     20703080
4706     20703080
207      20703080
208      20703080
210      20703080
1952     20703080
212      20703080
2551     20703080
2553     20703080
2554     20703080
2556     20703080
2560     20703080
4719     20703080
2565     20703080
2569     20703080
1912     20703080
1910     20703080
1908     20703080
4715     20703080
1907     20703080
1906     20703080
4710     20703080
1905     20703080
2455     20703080
2452     20703080
2412     20703080
2410     20703080
2160     20703080
4953     20703080
2158     20703080
4951     20703080
2157     20703080
2156     20703080
2155     20703080
2152     20703080
52       20703080
4954     20703080
2302     20703080
55       20703080
56       20703080
57       20703080
58       20703080
2306     20703080
60       20703080
2307     20703080
62       20703080
4919     20703080
2305     20703080
4956     20703080
4960     20703080
2162     20703080
2        20703080
2205     20703080
5        20703080
6        20703080
7        20703080
8        20703080
2208     20703080
10       20703080
2210     20703080
12       20703080
2202     20703080
2212     20703080
4969     20703080
2252     20703080
2255     20703080
2256     20703080
2257     20703080
2258     20703080
2260     20703080
4965     20703080
2262     20703080
2308     20703080
1860     20703080
2310     20703080
4915     20703080
108      20703080
4865     20703080
110      20703080
2060     20703080
112      20703080
4860     20703080
2058     20703080
4856     20703080
4854     20703080
107      20703080
2057     20703080
4851     20703080
2056     20703080
2055     20703080
2402     20703080
2405     20703080
2052     20703080
2406     20703080
2407     20703080
2408     20703080
4853     20703080
106      20703080
105      20703080
2062     20703080
4910     20703080
2112     20703080
2110     20703080
4906     20703080
4904     20703080
2108     20703080
2107     20703080
2106     20703080
4903     20703080
2105     20703080
4901     20703080
2102     20703080
2352     20703080
2355     20703080
2356     20703080
2357     20703080
2358     20703080
2360     20703080
2362     20703080
4869     20703080
102      20703080
2312     20703080
2653     20703080
205      20703080
310      20703080
1812     20703080
4601     20703080
2715     20703080
1758     20703080
1810     20703080
1760     20703080
1808     20703080
2819     20703080
4551     20703080
1762     20703080
4553     20703080
1807     20703080
362      20703080
4519     20703080
4554     20703080
1712     20703080
2669     20703080
1752     20703080
2665     20703080
4515     20703080
2660     20703080
2815     20703080
1852     20703080
302      20703080
4604     20703080
2706     20703080
4610     20703080
4615     20703080
312      20703080
1756     20703080
2704     20703080
2710     20703080
2703     20703080
4606     20703080
2801     20703080
2803     20703080
308      20703080
307      20703080
306      20703080
2804     20703080
305      20703080
1757     20703080
2806     20703080
4619     20703080
2701     20703080
2810     20703080
4603     20703080
4510     20703080
1710     20703080
4506     20703080
360      20703080
2654     20703080
4501     20703080
4560     20703080
1707     20703080
1858     20703080
1855     20703080
405      20703080
1856     20703080
406      20703080
407      20703080
4651     20703080
2769     20703080
352      20703080
408      20703080
4565     20703080
4653     20703080
2760     20703080
4654     20703080
4569     20703080
1857     20703080
2765     20703080
4656     20703080
355      20703080
2756     20703080
402      20703080
356      20703080
1806     20703080
4556     20703080
358      20703080
357      20703080
1805     20703080
1708     20703080
2719     20703080
4504     20703080
1802     20703080
2751     20703080
4503     20703080
1755     20703080
2656     20703080
2754     20703080
2753     20703080
4548     20981595
3548     20981595
4098     20981595
4598     20981595
4998     20981595
4348     20981595
3448     20981595
3898     20981595
3598     20981595
3348     20981595
3398     20981595
4898     20981595
4798     20981595
4398     20981595
3998     20981595
3948     20981595
4048     20981595
3498     20981595
2748     20981595
2948     20981595
4848     20981595
3048     20981595
4248     20981595
4648     20981595
4698     20981595
3798     20981595
3098     20981595
4948     20981595
3248     20981595
4198     20981595
3648     20981595
4298     20981595
3698     20981595
4148     20981595
2698     20981595
2898     20981595
3198     20981595
2848     20981595
3148     20981595
2598     20981595
3298     20981595
4448     20981595
2548     20981595
2798     20981595
3748     20981595
2998     20981595
3848     20981595
2648     20981595
4748     20981595
4498     20981595
847      94475129
4996     94475129
497      94475129
1688     94475129
3946     94475129
4846     94475129
1188     94475129
3796     94475129
3746     94475129
488      94475129
2896     94475129
3696     94475129
1047     94475129
1038     94475129
997      94475129
1597     94475129
2247     94475129
2238     94475129
3496     94475129
838      94475129
1197     94475129
2188     94475129
2197     94475129
1697     94475129
988      94475129
4396     94475129
1647     94475129
2388     94475129
2397     94475129
4896     94475129
4546     94475129
2138     94475129
3896     94475129
447      94475129
3846     94475129
2338     94475129
1147     94475129
888      94475129
2946     94475129
4446     94475129
1138     94475129
1738     94475129
3596     94475129
897      94475129
1638     94475129
2796     94475129
2297     94475129
397      94475129
2347     94475129
2097     94475129
2846     94475129
438      94475129
38       94475129
947      94475129
1747     94475129
97       94475129
388      94475129
3546     94475129
2088     94475129
4946     94475129
938      94475129
47       94475129
3646     94475129
1088     94475129
2147     94475129
1097     94475129
88       94475129
2288     94475129
1588     94475129
138      94475129
1347     94475129
3096     94475129
4296     94475129
4146     94475129
688      94475129
1938     94475129
2546     94475129
1947     94475129
697      94475129
3296     94475129
4496     94475129
4746     94475129
1388     94475129
197      94475129
547      94475129
4096     94475129
1338     94475129
3346     94475129
188      94475129
738      94475129
1547     94475129
3046     94475129
538      94475129
747      94475129
2497     94475129
1538     94475129
2488     94475129
2696     94475129
1397     94475129
4246     94475129
2646     94475129
1888     94475129
597      94475129
3146     94475129
1447     94475129
1438     94475129
3196     94475129
1488     94475129
638      94475129
588      94475129
3246     94475129
288      94475129
1497     94475129
4196     94475129
647      94475129
247      94475129
4696     94475129
4646     94475129
2596     94475129
238      94475129
1847     94475129
297      94475129
1838     94475129
1897     94475129
1988     94475129
2996     94475129
2038     94475129
1247     94475129
338      94475129
1288     94475129
4596     94475129
147      94475129
3396     94475129
1788     94475129
3996     94475129
1297     94475129
2447     94475129
2438     94475129
797      94475129
1238     94475129
2746     94475129
788      94475129
4796     94475129
1797     94475129
4346     94475129
347      94475129
1997     94475129
3446     94475129
4046     94475129
2047     94475129
2692     96046791
3942     96046791
3242     96046791
2742     96046791
4292     96046791
2842     96046791
4592     96046791
3642     96046791
2592     96046791
4942     96046791
2892     96046791
3442     96046791
3742     96046791
4242     96046791
4492     96046791
4992     96046791
2642     96046791
3142     96046791
2992     96046791
3192     96046791
3992     96046791
3692     96046791
4692     96046791
3492     96046791
4392     96046791
4192     96046791
3792     96046791
4642     96046791
3092     96046791
4842     96046791
3392     96046791
4092     96046791
3342     96046791
3592     96046791
2792     96046791
3542     96046791
4542     96046791
4042     96046791
4742     96046791
3292     96046791
4442     96046791
3892     96046791
2942     96046791
2542     96046791
4892     96046791
4142     96046791
4342     96046791
3042     96046791
4792     96046791
3842     96046791
3164    119669697
1217    119669697
3114    119669697
1317    119669697
1617    119669697
2417    119669697
2217    119669697
2864    119669697
3564    119669697
3364    119669697
1967    119669697
1767    119669697
1017    119669697
1467    119669697
2714    119669697
2764    119669697
2614    119669697
2514    119669697
1867    119669697
3714    119669697
1517    119669697
1167    119669697
3314    119669697
3264    119669697
2564    119669697
3514    119669697
3014    119669697
1367    119669697
1917    119669697
1267    119669697
2814    119669697
1567    119669697
1067    119669697
3664    119669697
1717    119669697
2964    119669697
3464    119669697
2664    119669697
2067    119669697
2267    119669697
1817    119669697
2317    119669697
2914    119669697
2017    119669697
1667    119669697
1417    119669697
2117    119669697
2167    119669697
3214    119669697
3064    119669697
3414    119669697
2367    119669697
1117    119669697
2467    119669697
3614    119669697
4614    119669697
517     119669697
4364    119669697
4014    119669697
967     119669697
67      119669697
3814    119669697
4914    119669697
667     119669697
4414    119669697
317     119669697
4164    119669697
4764    119669697
467     119669697
4464    119669697
4864    119669697
867     119669697
117     119669697
917     119669697
3914    119669697
3864    119669697
767     119669697
4114    119669697
4064    119669697
717     119669697
417     119669697
4514    119669697
4564    119669697
367     119669697
167     119669697
217     119669697
4214    119669697
4814    119669697
817     119669697
3964    119669697
4314    119669697
617     119669697
267     119669697
4964    119669697
4264    119669697
4664    119669697
4714    119669697
3764    119669697
567     119669697
17      119669697
83      139715820
2033    139715820
1633    139715820
933     139715820
2233    139715820
983     139715820
1083    139715820
2183    139715820
2483    139715820
2383    139715820
683     139715820
233     139715820
333     139715820
133     139715820
2083    139715820
183     139715820
1683    139715820
1283    139715820
583     139715820
433     139715820
1783    139715820
1983    139715820
1383    139715820
283     139715820
733     139715820
1483    139715820
533     139715820
2283    139715820
1933    139715820
1433    139715820
633     139715820
383     139715820
1133    139715820
33      139715820
1733    139715820
1033    139715820
1883    139715820
1583    139715820
2433    139715820
783     139715820
483     139715820
1833    139715820
1183    139715820
2333    139715820
833     139715820
1533    139715820
1333    139715820
2133    139715820
1233    139715820
883     139715820
375     146545868
1749    146545868
4567    146545868
1299    146545868
4067    146545868
749     146545868
2767    146545868
1225    146545868
1875    146545868
2617    146545868
2784    146545868

In [31]:
#checking prices
df= pd.imported_data(range(5), columns=['a'])
df.a = df.a.astype(float)

df.size() #total values including null values
df.min() #min
df.max() #max
df.mean() #average

AttributeError: module 'pandas' has no attribute 'imported_data'

In [48]:
#checking available_quantity
print(imported_data['available_quantity'].min()) #min
print(imported_data['available_quantity'].max()) #max

1
4017

In [11]:
#checking titles
print(imported_data['title'].nunique()) #only non-null

pd.set_option('display.max_rows', imported_data.shape[0]+1)
imported_data['title'].sort_values().unique()

array(['Asus Zenfone Max Shot Zb634kl Dual Sim 32 Gb Prata 3 Gb Ram',
       'Asus Zenfone Max Shot Zb634kl Dual Sim 32 Gb Vermelho 3 Gb Ram',
       'Asus Zenfone Max Shot Zb634kl Dual Sim 64 Gb Preto 4 Gb Ram',
       'LG B220 Dual Sim 32 Mb Preto 32 Mb Ram',
       'LG K41s Dual Sim 32 Gb Preto 3 Gb Ram',
       'LG K41s Dual Sim 32 Gb Tit√¢nio 3 Gb Ram',
       'LG K51s Dual Sim 64 Gb Titan 3 Gb Ram',
       'Moto G8 Play Dual Sim 32 Gb Vermelho-magenta 2 Gb Ram',
       'Moto G8 Power Dual Sim 64 Gb Preto-titanium 4 Gb Ram',
       'Motorola One Fusion Dual Sim 128 Gb Deep Sapphire Blue 4 Gb Ram',
       'Multilaser Flip Vita Dual Sim 32 Mb Azul/preto 32 Mb Ram',
       'Multilaser Flip Vita Dual Sim 32 Mb Dourado/preto 32 Mb Ram',
       'Multilaser Flip Vita Dual Sim 32 Mb Vermelho/preto 32 Mb Ram',
       'Multilaser Zapp Dual Sim 512 Mb Preto 256 Mb Ram',
       'Philco Hit Plus Pcs02p Dual Sim 64 Gb Preto 4 Gb Ram',
       'Quantum L Dual Sim 16 Gb Preto 2 Gb Ram',
       'Samsung Galaxy A01 Core Dual Sim 32 Gb Azul 2 Gb Ram',
       'Samsung Galaxy A01 Core Dual Sim 32 Gb Preto 2 Gb Ram',
       'Samsung Galaxy A01 Core Dual Sim 32 Gb Vermelho 2 Gb Ram',
       'Samsung Galaxy A01 Dual Sim 32 Gb Azul 2 Gb Ram',
       'Samsung Galaxy A01 Dual Sim 32 Gb Preto 2 Gb Ram',
       'Samsung Galaxy A01 Dual Sim 32 Gb Vermelho 2 Gb Ram',
       'Samsung Galaxy A10s Dual Sim 32 Gb Azul 2 Gb Ram',
       'Samsung Galaxy A10s Dual Sim 32 Gb Preto 2 Gb Ram',
       'Samsung Galaxy A10s Dual Sim 32 Gb Vermelho 2 Gb Ram',
       'Samsung Galaxy A11 Dual Sim 64 Gb Azul 3 Gb Ram',
       'Samsung Galaxy A11 Dual Sim 64 Gb Preto 3 Gb Ram',
       'Samsung Galaxy A11 Dual Sim 64 Gb Vermelho 3 Gb Ram',
       'Samsung Galaxy A21s Dual Sim 64 Gb Azul 4 Gb Ram',
       'Samsung Galaxy A21s Dual Sim 64 Gb Branco 4 Gb Ram',
       'Samsung Galaxy A21s Dual Sim 64 Gb Preto 4 Gb Ram',
       'Samsung Galaxy A31 Dual Sim 128 Gb Prism Crush Black 4 Gb Ram',
       'Samsung Galaxy A31 Dual Sim 128 Gb Prism Crush Blue 4 Gb Ram',
       'Samsung Galaxy A31 Dual Sim 128 Gb Prism Crush White 4 Gb Ram',
       'Samsung Galaxy A51 Dual Sim 128 Gb Prism Crush White 4 Gb Ram',
       'Samsung Galaxy M21s Dual Sim 64 Gb Azul 4 Gb Ram',
       'Xiaomi Poco X3 Nfc Dual Sim 128 Gb Cobalt Blue 6 Gb Ram',
       'Xiaomi Poco X3 Nfc Dual Sim 128 Gb Shadow Gray 6 Gb Ram',
       'Xiaomi Redmi 9 Dual Sim 64 Gb Carbon Grey 4 Gb Ram',
       'Xiaomi Redmi 9 Dual Sim 64 Gb Sunset Purple 4 Gb Ram',
       'Xiaomi Redmi 9a Dual Sim 32 Gb Azul 2 Gb Ram',
       'Xiaomi Redmi 9a Dual Sim 32 Gb Cinza 2 Gb Ram',
       'Xiaomi Redmi 9a Dual Sim 32 Gb Verde 2 Gb Ram',
       'Xiaomi Redmi Note 8 Dual Sim 64 Gb Moonlight White 4 Gb Ram',
       'Xiaomi Redmi Note 8 Dual Sim 64 Gb Neptune Blue 4 Gb Ram',
       'Xiaomi Redmi Note 8 Dual Sim 64 Gb Space Black 4 Gb Ram',
       'Xiaomi Redmi Note 9 Dual Sim 128 Gb Branco-polar 4 Gb Ram',
       'Xiaomi Redmi Note 9 Dual Sim 128 Gb Cinza-meia-noite 4 Gb Ram',
       'Xiaomi Redmi Note 9 Dual Sim 128 Gb Verde-floresta 4 Gb Ram',
       'Xiaomi Redmi Note 9 Pro (64 Mpx) Dual Sim 128 Gb Cinza-interestelar 6 Gb Ram',
       'Xiaomi Redmi Note 9s Dual Sim 128 Gb Azul 6 Gb Ram',
       'Xiaomi Redmi Note 9s Dual Sim 128 Gb Branco 6 Gb Ram',
       'Xiaomi Redmi Note 9s Dual Sim 128 Gb Cinza 6 Gb Ram',
       'Xiaomi Redmi Note 9s Dual Sim 64 Gb Azul 4 Gb Ram',
       'Xiaomi Redmi Note 9s Dual Sim 64 Gb Cinza 4 Gb Ram',
       'iPhone 11 128 Gb Preto', 'iPhone 11 64 Gb Branco',
       'iPhone 11 64 Gb Preto', 'iPhone 6s 128 Gb Ouro'], dtype=object)

In [ ]:
imported_data.isnull().sum() * 100 / len(imported_data)

In [53]:
pd.set_option('display.max_columns', None)

In [55]:
imported_data

Index(['Unnamed: 0', 'id', 'site_id', 'title', 'price', 'sale_price',
       'currency_id', 'available_quantity', 'sold_quantity', 'buying_mode',
       'listing_type_id', 'stop_time', 'condition', 'permalink', 'thumbnail',
       'accepts_mercadopago', 'attributes', 'original_price', 'category_id',
       'official_store_id', 'domain_id', 'catalog_product_id', 'tags',
       'catalog_listing', 'order_backend', 'seller.id', 'seller.permalink',
       'seller.registration_date', 'seller.car_dealer',
       'seller.real_estate_agency', 'seller.tags',
       'seller.seller_reputation.transactions.total',
       'seller.seller_reputation.transactions.canceled',
       'seller.seller_reputation.transactions.period',
       'seller.seller_reputation.transactions.ratings.negative',
       'seller.seller_reputation.transactions.ratings.positive',
       'seller.seller_reputation.transactions.ratings.neutral',
       'seller.seller_reputation.transactions.completed',
       'seller.seller_reputation.power_seller_status',
       'seller.seller_reputation.metrics.claims.rate',
       'seller.seller_reputation.metrics.claims.value',
       'seller.seller_reputation.metrics.claims.period',
       'seller.seller_reputation.metrics.delayed_handling_time.rate',
       'seller.seller_reputation.metrics.delayed_handling_time.value',
       'seller.seller_reputation.metrics.delayed_handling_time.period',
       'seller.seller_reputation.metrics.sales.period',
       'seller.seller_reputation.metrics.sales.completed',
       'seller.seller_reputation.metrics.cancellations.rate',
       'seller.seller_reputation.metrics.cancellations.value',
       'seller.seller_reputation.metrics.cancellations.period',
       'seller.seller_reputation.level_id', 'prices.id', 'prices.prices',
       'prices.presentation.display_currency', 'prices.payment_method_prices',
       'installments.quantity', 'installments.amount', 'installments.rate',
       'installments.currency_id', 'address.state_id', 'address.state_name',
       'address.city_id', 'address.city_name', 'shipping.free_shipping',
       'shipping.mode', 'shipping.tags', 'shipping.logistic_type',
       'shipping.store_pick_up', 'seller_address.id', 'seller_address.comment',
       'seller_address.address_line', 'seller_address.zip_code',
       'seller_address.country.id', 'seller_address.country.name',
       'seller_address.state.id', 'seller_address.state.name',
       'seller_address.city.id', 'seller_address.city.name',
       'seller_address.latitude', 'seller_address.longitude',
       'differential_pricing.id', 'seller.eshop.nick_name',
       'seller.eshop.eshop_rubro', 'seller.eshop.eshop_id',
       'seller.eshop.eshop_locations', 'seller.eshop.site_id',
       'seller.eshop.eshop_logo_url', 'seller.eshop.eshop_status_id',
       'seller.eshop.seller', 'seller.eshop.eshop_experience'],
      dtype='object')