In [6]:
import boto3 as boto3

In [7]:
ACCESS_KEY = ***
SECRET_KEY = ***
AWS_SESSION_TOKEN= ***

In [21]:
import pandas as pd
import boto3

bucket = "dados-mercadolivre"
file_name = "dados140101.csv"

s3 = boto3.client('s3', aws_access_key_id=ACCESS_KEY,
                      aws_secret_access_key=SECRET_KEY,
                      aws_session_token=AWS_SESSION_TOKEN)

# 's3' is a key word. create connection to S3 using default config and all buckets within S3

obj = s3.get_object(Bucket= bucket, Key= file_name) 
# get object and file (key) from bucket

initial_df = pd.read_csv(obj['Body']) # 'Body' is a key word

In [25]:
initial_df.describe()

,Unnamed: 0,price,sale_price,available_quantity,sold_quantity,original_price,official_store_id,order_backend,seller.id,seller.seller_reputation.transactions.total,...,seller_address.address_line,seller_address.zip_code,seller_address.latitude,seller_address.longitude,differential_pricing.id,seller.eshop.eshop_rubro,seller.eshop.eshop_id,seller.eshop.eshop_status_id,seller.eshop.seller,seller.eshop.eshop_experience
count,5000.000000,5000.000000,0.0,5000.000000,5000.000000,2000.000000,3300.000000,5000.000000,5.000000e+03,5.000000e+03,...,0.0,0.0,0.0,0.0,4250.0,0.0,650.000000,650.000000,6.500000e+02,650.0
mean,2499.500000,1319.362100,NaN,506.942600,827.781400,1463.855000,1742.666667,25.500000,3.327467e+08,1.672145e+05,...,NaN,NaN,NaN,NaN,33580182.0,NaN,339190.615385,1.076923,2.838740e+08,0.0
std,1443.520003,924.754355,NaN,796.490604,1285.210934,1087.146093,1101.503882,14.432313,1.999766e+08,2.437281e+05,...,NaN,NaN,NaN,NaN,0.0,NaN,62250.365909,0.266675,1.712145e+08,0.0
min,0.000000,116.890000,NaN,1.000000,0.000000,169.000000,51.000000,1.000000,2.070308e+07,3.400000e+01,...,NaN,NaN,NaN,NaN,33580182.0,NaN,281427.000000,1.000000,9.447513e+07,0.0
25%,1249.750000,864.497500,NaN,19.000000,154.000000,1048.500000,869.000000,13.000000,1.465459e+08,3.803750e+03,...,NaN,NaN,NaN,NaN,33580182.0,NaN,281427.000000,1.000000,2.045085e+08,0.0
50%,2499.500000,1118.500000,NaN,189.000000,375.500000,1183.850000,2156.000000,25.500000,3.742456e+08,7.355300e+04,...,NaN,NaN,NaN,NaN,33580182.0,NaN,324793.000000,1.000000,2.457189e+08,0.0
75%,3749.250000,1549.000000,NaN,658.000000,932.000000,1596.375000,2586.000000,38.000000,4.844360e+08,3.127660e+05,...,NaN,NaN,NaN,NaN,33580182.0,NaN,362315.000000,1.000000,2.457189e+08,0.0
max,4999.000000,5086.940000,NaN,4017.000000,6935.000000,4969.000000,3027.000000,50.000000,6.709316e+08,1.269595e+06,...,NaN,NaN,NaN,NaN,33580182.0,NaN,440918.000000,2.000000,5.932207e+08,0.0

In [28]:
initial_df.columns

Index(['Unnamed: 0', 'id', 'site_id', 'title', 'price', 'sale_price',
       'currency_id', 'available_quantity', 'sold_quantity', 'buying_mode',
       'listing_type_id', 'stop_time', 'condition', 'permalink', 'thumbnail',
       'accepts_mercadopago', 'attributes', 'original_price', 'category_id',
       'official_store_id', 'domain_id', 'catalog_product_id', 'tags',
       'catalog_listing', 'order_backend', 'seller.id', 'seller.permalink',
       'seller.registration_date', 'seller.car_dealer',
       'seller.real_estate_agency', 'seller.tags',
       'seller.seller_reputation.transactions.total',
       'seller.seller_reputation.transactions.canceled',
       'seller.seller_reputation.transactions.period',
       'seller.seller_reputation.transactions.ratings.negative',
       'seller.seller_reputation.transactions.ratings.positive',
       'seller.seller_reputation.transactions.ratings.neutral',
       'seller.seller_reputation.transactions.completed',
       'seller.seller_reputation.power_seller_status',
       'seller.seller_reputation.metrics.claims.rate',
       'seller.seller_reputation.metrics.claims.value',
       'seller.seller_reputation.metrics.claims.period',
       'seller.seller_reputation.metrics.delayed_handling_time.rate',
       'seller.seller_reputation.metrics.delayed_handling_time.value',
       'seller.seller_reputation.metrics.delayed_handling_time.period',
       'seller.seller_reputation.metrics.sales.period',
       'seller.seller_reputation.metrics.sales.completed',
       'seller.seller_reputation.metrics.cancellations.rate',
       'seller.seller_reputation.metrics.cancellations.value',
       'seller.seller_reputation.metrics.cancellations.period',
       'seller.seller_reputation.level_id', 'prices.id', 'prices.prices',
       'prices.presentation.display_currency', 'prices.payment_method_prices',
       'installments.quantity', 'installments.amount', 'installments.rate',
       'installments.currency_id', 'address.state_id', 'address.state_name',
       'address.city_id', 'address.city_name', 'shipping.free_shipping',
       'shipping.mode', 'shipping.tags', 'shipping.logistic_type',
       'shipping.store_pick_up', 'seller_address.id', 'seller_address.comment',
       'seller_address.address_line', 'seller_address.zip_code',
       'seller_address.country.id', 'seller_address.country.name',
       'seller_address.state.id', 'seller_address.state.name',
       'seller_address.city.id', 'seller_address.city.name',
       'seller_address.latitude', 'seller_address.longitude',
       'differential_pricing.id', 'seller.eshop.nick_name',
       'seller.eshop.eshop_rubro', 'seller.eshop.eshop_id',
       'seller.eshop.eshop_locations', 'seller.eshop.site_id',
       'seller.eshop.eshop_logo_url', 'seller.eshop.eshop_status_id',
       'seller.eshop.seller', 'seller.eshop.eshop_experience'],
      dtype='object')